/* line 7, ../_sass/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ubuntu';
  font-weight: normal;
}

/* line 11, ../_sass/_type.scss */
body {
  font-size: 0.625em;
}

/* line 16, ../_sass/_type.scss */
h1,
.h1 {
  font-size: 4em;
}

/* line 1, ../_sass/_layout.scss */
body {
  overflow-y: scroll;
}
