/* line 10, ../_sass/_type.scss */
html {
  font-size: 62.5%;
}

/* line 13, ../_sass/_type.scss */
body {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

/* line 21, ../_sass/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.3;
  margin: 2rem 0;
}

/* line 28, ../_sass/_type.scss */
h1,
.h1 {
  font-size: 3.4rem;
}

/* line 32, ../_sass/_type.scss */
h2,
.h2 {
  font-size: 2.8rem;
}

/* line 36, ../_sass/_type.scss */
h3,
.h3 {
  font-size: 2.4rem;
}

/* line 41, ../_sass/_type.scss */
h4,
.h4,
.lead {
  font-size: 2.0rem;
}

/* line 47, ../_sass/_type.scss */
h5,
.h5,
h6,
.h6 {
  font-size: 1.8rem;
}

/* line 51, ../_sass/_type.scss */
p {
  font-size: 1.8rem;
  line-height: 1.66;
  margin: 2rem 0;
}

/* line 57, ../_sass/_type.scss */
a {
  color: #ff5a77;
  text-decoration: none;
}

/* line 66, ../_sass/_type.scss */
.dead-link {
  color: #ff5a77;
  text-decoration: line-through;
}

/* line 71, ../_sass/_type.scss */
li {
  font-size: 1.8rem;
  line-height: 1.66;
}
/* line 76, ../_sass/_type.scss */
li > ol,
li > ul {
  margin: 0;
}

/* line 80, ../_sass/_type.scss */
.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 90, ../_sass/_type.scss */
dl {
  overflow: hidden;
}
/* line 93, ../_sass/_type.scss */
dl dt, dl dd {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.66;
  margin: 0;
  word-wrap: break-word;
}
/* line 100, ../_sass/_type.scss */
dl dt {
  float: left;
  font-weight: 400;
  width: 33.33%;
}
/* line 105, ../_sass/_type.scss */
dl dd {
  float: left;
  width: 66.66%;
}

/* line 112, ../_sass/_type.scss */
.recent-posts dt {
  font-weight: 200;
}

/* line 1, ../_sass/_layout.scss */
.content {
  overflow: hidden;
  padding: 0 4% 100px 4%;
}

/* line 11, ../_sass/_layout.scss */
.content-crumb,
.content-title {
  display: none;
}

/* line 15, ../_sass/_layout.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
}

@media (min-width: 980px) {
  /* line 31, ../_sass/_layout.scss */
  .main-header-inner,
  .content {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 960px;
  }
}
@media (min-width: 800px) {
  /* line 40, ../_sass/_layout.scss */
  .column-wrap {
    overflow: hidden;
  }

  /* line 43, ../_sass/_layout.scss */
  .column-two-thirds {
    float: right;
    width: 65%;
  }

  /* line 47, ../_sass/_layout.scss */
  .column-one-third {
    float: left;
    width: 32%;
  }

  /* line 51, ../_sass/_layout.scss */
  .column-one-half {
    float: left;
    width: 48%;
  }
  /* line 55, ../_sass/_layout.scss */
  .column-one-half:nth-child(even) {
    float: right;
  }

  /* line 59, ../_sass/_layout.scss */
  .column-left {
    float: left;
  }

  /* line 62, ../_sass/_layout.scss */
  .column-right {
    float: right;
  }
}
/* line 67, ../_sass/_layout.scss */
.project-thumb {
  overflow: hidden;
  position: relative;
}
/* line 70, ../_sass/_layout.scss */
.project-thumb figure {
  margin-top: 0;
}
/* line 73, ../_sass/_layout.scss */
.project-thumb a {
  display: block;
}
/* line 77, ../_sass/_layout.scss */
.project-thumb .project-thumb-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -10%;
  margin: 0;
  opacity: 0;
  display: block;
}
/* line 88, ../_sass/_layout.scss */
.project-thumb:hover img {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  position: relative;
  opacity: 0.05;
}
/* line 92, ../_sass/_layout.scss */
.project-thumb:hover img:after {
  content: 'asd';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: red;
}
/* line 105, ../_sass/_layout.scss */
.project-thumb:hover .project-thumb-title {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  display: block;
  top: 30%;
  opacity: 1;
}
@media (min-width: 640px) {
  /* line 105, ../_sass/_layout.scss */
  .project-thumb:hover .project-thumb-title {
    top: 40%;
  }
}

/* line 1, ../_sass/_header.scss */
.main-header {
  overflow: hidden;
  position: relative;
}
/* line 10, ../_sass/_header.scss */
.main-header .mobile-nav-checkbox {
  display: none;
}
/* line 14, ../_sass/_header.scss */
.main-header .mobile-nav-label {
  cursor: pointer;
  font-size: 1.6rem;
  position: absolute;
  right: 4%;
  top: 24px;
}

/* line 23, ../_sass/_header.scss */
.main-nav {
  -webkit-transition: max-height 0.25s ease-in-out;
  -moz-transition: max-height 0.25s ease-in-out;
  -o-transition: max-height 0.25s ease-in-out;
  transition: max-height 0.25s ease-in-out;
  background-color: #1a1a1a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a1a1a), color-stop(100%, #262626));
  background-image: -webkit-linear-gradient(#1a1a1a, #262626);
  background-image: -moz-linear-gradient(#1a1a1a, #262626);
  background-image: -o-linear-gradient(#1a1a1a, #262626);
  background-image: linear-gradient(#1a1a1a, #262626);
  max-height: 30rem;
}
/* line 31, ../_sass/_header.scss */
.main-nav ul {
  margin: 0;
  padding: 0;
}
/* line 35, ../_sass/_header.scss */
.main-nav li {
  font-size: 1.8rem;
}
/* line 38, ../_sass/_header.scss */
.main-nav a {
  color: #fff;
  display: block;
  padding: 1.6rem 4%;
}
/* line 43, ../_sass/_header.scss */
.main-nav a:active {
  background-color: #333333;
}

/* line 49, ../_sass/_header.scss */
.mobile-nav-checkbox:not(:checked) ~ .main-nav {
  max-height: 0;
}

/* line 53, ../_sass/_header.scss */
.branding {
  color: #000;
  display: inline-block;
  margin: 0;
}

/* line 58, ../_sass/_header.scss */
.branding-wrap {
  padding: 18px 0 18px 4%;
}

/* line 61, ../_sass/_header.scss */
.crumb {
  color: #ff5a77;
}

@media (min-width: 640px) {
  /* line 66, ../_sass/_header.scss */
  .branding-wrap {
    float: left;
  }

  /* line 69, ../_sass/_header.scss */
  .main-header .mobile-nav-label {
    display: none;
  }

  /* line 72, ../_sass/_header.scss */
  .mobile-nav-checkbox:not(:checked) ~ .main-nav {
    max-height: none;
  }

  /* line 75, ../_sass/_header.scss */
  .main-nav {
    background: none;
    border: none;
    float: right;
    margin-right: 4%;
    margin-top: 22px;
    max-height: none;
  }
  /* line 83, ../_sass/_header.scss */
  .main-nav li {
    float: left;
    margin-left: 2rem;
  }
  /* line 87, ../_sass/_header.scss */
  .main-nav a {
    color: #000;
    padding: 0;
  }
  /* line 91, ../_sass/_header.scss */
  .main-nav a:active {
    background-color: transparent;
  }
}
@media (min-width: 980px) {
  /* line 99, ../_sass/_header.scss */
  .branding-wrap {
    padding-left: 0;
  }

  /* line 102, ../_sass/_header.scss */
  .main-nav {
    margin-right: 0;
  }
}
/* line 1, ../_sass/_images.scss */
figure {
  margin: 2rem 0;
  text-align: center;
}
/* line 5, ../_sass/_images.scss */
figure img {
  max-width: 100%;
}
/* line 8, ../_sass/_images.scss */
figure figcaption {
  font-size: 1.4rem;
  text-align: left;
}
/* line 13, ../_sass/_images.scss */
figure.full {
  margin-left: -4.5%;
  width: 109%;
}
/* line 17, ../_sass/_images.scss */
figure.full img {
  width: 100%;
}
/* line 20, ../_sass/_images.scss */
figure.full figcaption {
  padding: 0 4%;
}

@media (min-width: 640px) {
  /* line 28, ../_sass/_images.scss */
  figure.full {
    margin-left: 0;
    max-width: 100%;
    width: auto;
  }
  /* line 33, ../_sass/_images.scss */
  figure.full figcaption {
    padding: 0;
  }
}
/* line 1, ../_sass/_home.scss */
.home-lead span {
  color: #ff5a77;
}

@media (min-width: 960px) {
  /* line 6, ../_sass/_home.scss */
  .home-lead {
    font-size: 4rem;
    padding: 30px 20%;
  }
}
