---
layout: main
title: Hello
---

<h1 class="home-lead">
	Hello.
	<br>
	My name is <span>Luke Martin</span>. I&rsquo;m a freelance Front End&nbsp;Developer.
</h1>

<div class="column-wrap">
	<div class="column-two-thirds column-right">
		<h2>Recent project</h2>
		{% include projects/dulux-thumb.html %}
		<p>
			<a href="/working/">More projects</a>
		</p>
	</div>
	<div class="column-one-third column-left">
		{% include recent-posts.html %}
		<p>
			<a href="/blogging/">More posts</a>
		</p>
	</div>
</div>
