<article>
	<figure class="full">
		<img src="/images/projects/speedo.jpg" alt="Speedo &ndash; Unforgettable Swims">
	</figure>
	<h3>Speedo &ndash; Unforgettable Swims</h3>
	<p>The Unforgettable Swims website invites users to share their swimming experiences by creating a story, and uploading images and videos. Users can comment on swims and assets, with the most popular being featured on the site.</p>
	<dl>
		<dt>Date</dt>
		<dd>November 2012</dd>
		<dt>Key skills</dt>
		<dd>HTML5, CSS3, JavaScript &amp; jQuery, dotlessCSS, Umbraco, Git</dd>
		<dt>Link</dt>
		<dd><span class="dead-link">http://unforgettableswims.speedo.com</span></dd>
	</dl>
</article>