---
layout: main
title: Blogging
crumb: /blogging
---

<h1>Blog</h1>

<div class="column-wrap">
	<div class="column-two-thirds column-left">
{% for post in site.posts %}
			<article>
			{{ post.content | truncatewords:50 | replace_first:'h1','h2' | replace_first:'h1','h2' }}<a href="{{ post.url }}/">read more</a>
			</article>
			{% endfor %}	
</div>
	<div class="column-one-third column-right">
		<!--
		<h3>Categories</h3>
		<ul>
		{% for cat in site.categories %}
			<li>
				<a href="/blogging/about/{{ cat[0] }}">{{ cat[0] }}</a>
			</li>
		{% endfor %}
		</ul>
		-->
	</div>
</div>
