{% extends "layout.html" %}

{% block content %}
  <div class="section-wrap">
    <section class="about-page">
      <h1>About</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur vitae est distinctio, corporis libero. Natus error illum totam unde magnam cumque facilis provident, enim possimus dignissimos mollitia, quam fuga suscipit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur vitae est distinctio, corporis libero. Natus error illum totam unde magnam cumque facilis provident, enim possimus dignissimos mollitia, quam fuga suscipit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur vitae est distinctio, corporis libero. Natus error illum totam unde magnam cumque facilis provident, enim possimus dignissimos mollitia, quam fuga suscipit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur vitae est distinctio, corporis libero. Natus error illum totam unde magnam cumque facilis provident, enim possimus dignissimos mollitia, quam fuga suscipit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur vitae est distinctio, corporis libero. Natus error illum totam unde magnam cumque facilis provident, enim possimus dignissimos mollitia, quam fuga suscipit.</p>
    </section>
  </div>
{% endblock %}