{% extends "layout.html" %}

{% block content %}
  <div class="section-wrap">
    <section>
      <h1>Contact</h1>
      <p>If you'd like to get in touch with me, you can do so by:</p>
      <dl>
        <dt>Email</dt>
        <dd>&#108;&#117;&#107;&#101;&#046;&#100;&#046;&#109;&#097;&#114;&#116;&#105;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</dd>
        <dt>Twitter</dt>
        <dd><a href="http://twitter.com/luke_is">@luke_is</a></dd>
        <dt>GitHub</dt>
        <dd><a href="http://github.com/lukemartin">github.com/lukemartin</a></dd>
        <dt>Stack Overflow</dt>
        <dd><a href="http://stackoverflow.com/users/584311/luke">stackoverflow.com/users/584311/luke</a></dd>
        <dt>LinkedIn</dt>
        <dd><a href="http://uk.linkedin.com/in/lukeis/">uk.linkedin.com/in/lukeis</a></dd>
        <dt>last.fm</dt>
        <dd><a href="http://last.fm/user/Lukus">last.fm/user/Lukus</a></dd>
      </dl>
    </section>
  </div>
{% endblock %}