{% extends "layout.html" %}

{% block content %}
  <div class="section-wrap">
    <section>
      <h1>Some Title</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed sapiente alias, consequatur totam culpa minus dolores expedita cum vero esse dolor magnam non cumque eos quae reiciendis eius. Quidem?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed sapiente alias, consequatur totam culpa minus dolores expedita cum vero esse dolor magnam non cumque eos quae reiciendis eius. Quidem?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed sapiente alias, consequatur totam culpa minus dolores expedita cum vero esse dolor magnam non cumque eos quae reiciendis eius. Quidem?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed sapiente alias, consequatur totam culpa minus dolores expedita cum vero esse dolor magnam non cumque eos quae reiciendis eius. Quidem?
      </p>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <h1>Some Title</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed sapiente alias, consequatur totam culpa minus dolores expedita cum vero esse dolor magnam non cumque eos quae reiciendis eius. Quidem?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed sapiente alias, consequatur totam culpa minus dolores expedita cum vero esse dolor magnam non cumque eos quae reiciendis eius. Quidem?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed sapiente alias, consequatur totam culpa minus dolores expedita cum vero esse dolor magnam non cumque eos quae reiciendis eius. Quidem?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed sapiente alias, consequatur totam culpa minus dolores expedita cum vero esse dolor magnam non cumque eos quae reiciendis eius. Quidem?
      </p>
    </section>
  </div>
{% endblock %}