{% extends "layout.html" %}

{% block content %}
  <div class="section-wrap">
    <section>
      <div class="hero">
        <p>
          Hello. My name is <br><span>Some&nbsp;Person</span><br> and I'm a thing in Somewhere.
        </p>
      </div>
    </section>
  </div>

  <div class="section-wrap alt">
    <section>
      <div class="three-thing">
        <div class="avatar">
          <img src="http://placekitten.com/300/300">
        </div>
        <div class="left-part">
          <p>
            <a href="/working/" class="button">View My Work</a>
          </p>
        </div>
        <div class="right-part">
          <p>
            <a href="/here/" class="button">Get In Touch</a>
          </p>
        </div>
      </div>
    </section>
  </div>
{% endblock %}