<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/sjc8avb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <title>Document</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

  <div class="header-wrap {% if page.metadata.heroHeader %}js-max-height{% endif %}">
    <header>
      <div class="header-inner js-middle-align">
        <a href="/" class="branding">
          <div class="avatar image image-rounded image-bordered">
            <img src="/images/avatar.jpg" />
          </div>
          <div class="name h2">Some<span> </span>Name</div>
        </a>
        <nav class="main-nav">
          <ul class="unstyled">
            <li><a href="/about/" data-history>About</a></li>
            <li><a href="/projects/" data-history>Projects</a></li>
            <li><a href="#" data-history>Contact</a></li>
            <li><a href="#" data-history>Blog</a></li>
          </ul>
        </nav>
      </div>

    </header>
  </div>

  {% if not page.metadata.heroHeader %}
  <div class="content-wrap js-margin-top-NOPE">
    <div id="content" class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% endif %}

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>