<!DOCTYPE html>
<html lang="en" {% if page.metadata.heroHeader %}class="hero-header"{% endif %}>
<head>
  <!-- Typekit -->
  <script src="//use.typekit.net/sjc8avb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <base href="/" />
  <title>luke.is{% if page.metadata.title %} {{ page.metadata.title }}{% endif %}</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/main.css">
  <script src="/scripts/prefixfree.min.js"></script>
</head>

<body>
  <div class="header-wrap">
    <header>
      <div class="header-inner">
        <a href="/" class="branding">
          <div class="avatar">
            <img src="/images/avatar.jpg" />
          </div>
          <div class="name h2">Some<span> </span>Name</div>
        </a>
      </div>

    </header>
  </div>

  <div class="nav-wrap">
    <nav class="main-nav">
      <ul class="unstyled">
        <li><a href="/about/" title="About" data-slidey data-title="luke.is about">About</a></li>
        <li><a href="/working/" title="Projects" data-slidey data-title="luke.is working">Projects</a></li>
        <li><a href="/here/" title="Contact" data-slidey data-title="luke.is here">Contact</a></li>
        <li><a href="/blogging/" title="Blog" data-slidey data-title="luke.is blogging">Blog</a></li>
      </ul>
    </nav>
  </div>

  <div class="content-wrap">
    <div id="content" class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/scripts/jquery.history.min.js"></script>
  <script src="/scripts/velocity.min.js"></script>
  <script src="/scripts/main.js"></script>

  {% if env.mode == 'preview' %}
  <script src="http://127.0.0.1:35777/livereload.js"></script>
  {% else %}
  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "GSN-183620-H";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
    })(window);
  </script>
  {% endif %}
</body>
</html>