<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/sjc8avb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Meta -->
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

  <div class="header-wrap js-max-height">
    <header>
      <div class="branding js-middle-align">
        <div class="avatar image image-rounded image-bordered">
          <img src="/images/avatar.jpg" />
        </div>
        <div class="name hN h3">somename</div>

      </div>
    </header>
  </div>

  <div class="content-wrap" style="height: 2000px">
    <aside class="sidebar">
      Something
    </aside>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>