{% extends "layout.html" %}

{% block content %}
  <div class="section-wrap">
    <section class="project-page">

      <a href="/projects/" class="back-floaty" title="Projects"><i class="icon-arrow-left"></i> Projects</a>

      <div class="project-large">
        <h1 class="project-title">{{ page.metadata.title }}</h1>
        <time class="project-date" datetime="{{ moment(page.metadata.date).format('MMMM YYYY') }}">{{ moment(page.metadata.date).format('MMMM YYYY') }}</time>

        {{ page.html }}
      </div>

    </section>
  </div>
{% endblock %}