{% extends "layout.html" %}

{# https://github.com/davidtucker/davidtucker-blog/blob/develop/templates/articles.html #}

{% block content %}
  <div class="section-wrap">
    <section id="projects">
      <h1>Projects</h1>

      <ul class="projects unstyled">
        {% set projects = env.helpers.getSortedContentFolder("projects", contents) %}
        {% for project in projects %}
        <li class="project">
          <div class="project-image">
            <a href="{{ project.url }}" class="image">
              <img src="{{ project.metadata.image }}" alt="{{ project.metadata.title }}">
            </a>
          </div>
          <div class="project-meta">
            <h2 class="hN"><a href="{{ project.url }}">{{ project.metadata.title }}</a></h2>
            <time datetime="{{ moment(project.metadata.date).format('MMMM YYYY') }}">{{ moment(project.metadata.date).format('MMMM YYYY') }}</time>
            <p>
              {{ project.metadata.short }}
            </p>
            <p>
              <a href="{{ project.url }}">Read more</a>
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>

    </section>
  </div>
{% endblock %}