{% extends "layout.html" %}

{# https://github.com/davidtucker/davidtucker-blog/blob/develop/templates/articles.html #}
{% block content %}
  <div class="section-wrap">
    <section id="projects">
      <h1>Projects</h1>

      <ul class="projects unstyled">
        {% set projects = env.helpers.getSortedContentFolder("working", contents) %}
        {% for project in projects %}
        <li class="project">
          <div class="project-image">
            <a href="{{ project.url }}" class="image" data-history>
              <img src="{{ project.metadata.image }}" alt="{{ project.metadata.title }}">
            </a>
          </div>
          <div class="project-meta">
            <h2 class="project-title"><a href="{{ project.url }}" title="{{ project.metadata.title }}">{{ project.metadata.title }}</a></h2>
            <time class="project-date" datetime="{{ moment(project.metadata.date).format('MMMM YYYY') }}">{{ moment(project.metadata.date).format('MMMM YYYY') }}</time>
            <p>
              {{ project.metadata.short }}
            </p>
            <p>
              <a href="{{ project.url }}" class="project-read-more" data-history>Read more <i class="icon-arrow-right"></i></a>
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>

    </section>
  </div>
{% endblock %}