<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/sjc8avb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <title>Document</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

  <div class="header-wrap js-max-height">
    <header>
      <div class="header-inner js-middle-align">
        <a href="/" class="branding">
          <div class="avatar image image-rounded image-bordered">
            <img src="/images/avatar.jpg" />
          </div>
          <div class="name h3">Some<span> </span>Name</div>
        </a>
        <nav class="main-nav">
          <ul class="unstyled">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </nav>
      </div>

    </header>
  </div>

  <div class="content-wrap js-margin-top-NOPE">
    <div id="content" class="content">

      <div class="section-wrap">
        <section id="about">
          <h1>About</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim labore dolorum numquam consectetur, provident odit dolore, sit itaque eos possimus quos nisi ex esse veritatis saepe sint quisquam nihil.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim labore dolorum numquam consectetur, provident odit dolore, sit itaque eos possimus quos nisi ex esse veritatis saepe sint quisquam nihil.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim labore dolorum numquam consectetur, provident odit dolore, sit itaque eos possimus quos nisi ex esse veritatis saepe sint quisquam nihil.</p>
        </section>
      </div>

      <div class="section-wrap">
        <section id="projects">
          <h1>Projects</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim labore dolorum numquam consectetur, provident odit dolore, sit itaque eos possimus quos nisi ex esse veritatis saepe sint quisquam nihil.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim labore dolorum numquam consectetur, provident odit dolore, sit itaque eos possimus quos nisi ex esse veritatis saepe sint quisquam nihil.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam enim labore dolorum numquam consectetur, provident odit dolore, sit itaque eos possimus quos nisi ex esse veritatis saepe sint quisquam nihil.</p>
        </section>
      </div>


    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>