{% extends "layout.html" %}

{% block content %}
  <div class="section-wrap">
    <section class="project">
      <div class="project-image">
        <a href="./haircvt/" class="image">
          <img src="./haircvt/thumb.jpg" />
        </a>
      </div>
      <div class="project-meta">
        <h1><a href="./haircvt/">HAIRCVT</a></h1>
        <p>
          -
        </p>
        <p>
          <a href="./haircvt/" class="button" title="HAIRCVT">View</a>
        </p>
      </div>
    </section>
  </div>

  <div class="section-wrap alt">
    <section class="project">
      <div class="project-image">
        <a href="./haircvt-app/" class="image">
          <img src="./haircvt-app/thumb.png" />
        </a>
      </div>
      <div class="project-meta">
        <h1><a href="./haircvt-app/">HAIRCVT App</a></h1>
        <p>
          -
        </p>
        <p>
          <a href="./haircvt-app/" class="button" title="HAIRCVT App">View</a>
        </p>
      </div>
    </section>
  </div>

  <div class="section-wrap">
    <section class="project">
      <div class="project-image">
        <a href="./pure-research-group/" class="image">
          <img src="./pure-research-group/thumb.jpg" />
        </a>
      </div>
      <div class="project-meta">
        <h1><a href="./pure-research-group/">PureResearch Group</a></h1>
        <p>
          Research investment tool with filters &amp; graphs.
        </p>
        <p>
          <a href="./pure-research-group/" class="button" title="PureResearch Group">View</a>
        </p>
      </div>
    </section>
  </div>

  <div class="section-wrap alt">
    <section class="project">
      <div class="project-image">
        <a href="./dulux/" class="image">
          <img src="./dulux/thumb.jpg" />
        </a>
      </div>
      <div class="project-meta">
        <h1><a href="./dulux/">Dulux</a></h1>
        <p>
          -
        </p>
        <p>
          <a href="./dulux/" class="button" title="Dulux">View</a>
        </p>
      </div>
    </section>
  </div>
{% endblock %}