{% extends "layout.html" %}

{% block content %}
  <div class="section-wrap">
    <section class="project">
      <div class="project-image">
        <div class="image">
          <img src="http://placekitten.com/300/350" />
        </div>
      </div>
      <div class="project-meta">
        <h1><a href="/working/project/">Some Project</a></h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit adipisicing elit adipisicing elit.
        </p>
        <p>
          <a href="/working/project/" class="button">View</a>
        </p>
      </div>
    </section>
  </div>

  <div class="section-wrap alt">
    <section class="project alt">
      <div class="project-image">
        <div class="image">
          <img src="http://placekitten.com/300/350" />
        </div>
      </div>
      <div class="project-meta">
        <h1><a href="/working/project/">Some Project</a></h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
          <a href="/working/project/" class="button">View</a>
        </p>
      </div>
    </section>
  </div>
{% endblock %}