				<div class="content-title">{{ page.title }}</div>
				<div class="content-crumb">{{ page.crumb }}</div>
			</div>
		</div>

		<footer class="hidden">
		</footer>
	</div>

	{% if site.url == 'http://luke.is.dev' %}
	<script src="./js/jquery-2.0.0.js"></script>
	<script src="./js/jquery.history.js"></script>
	<script src="./js/main.js"></script>
	{% else %}
	<script src="./js/main.min.js"></script>
	<script type="text/javascript">
		var GoSquared = {};
		GoSquared.acct = "GSN-183620-H";
		(function(w){
			function gs(){
				w._gstc_lt = +new Date;
				var d = document, g = d.createElement("script");
				g.type = "text/javascript";
				g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
				var s = d.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(g, s);
			}
			w.addEventListener ?
			w.addEventListener("load", gs, false) :
			w.attachEvent("onload", gs);
		})(window);
	</script>
	{% endif %}
</body>
</html>