<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		{{ page.title }}
		{% if page.title %}
			-
		{% endif %}
		luke.is
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/" />

	{% if site.url == 'http://luke.is.dev' %}
	<link href="/css/lib/normalize.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	{% else %}
	<link href="/css/main.min.css" rel="stylesheet">
	{% endif %}
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="//use.typekit.net/sjc8avb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
	<div class="wrap">
		<header class="main-header">
			<div class="main-header-inner">
				<div class="branding-wrap">
					<a href="/" class="branding h2">
						luke<span>.is</span>
					</a><span class="crumb h2">{{ page.crumb }}</span>
				</div>

				<input type="checkbox" id="mobile-nav" class="mobile-nav-checkbox"/>
				<label for="mobile-nav" class="mobile-nav-label">Menu</label>

				<nav class="main-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/working/">Projects</a></li>
						<li><a href="/here/">Contact</a></li>
						<li><a href="/blogging/">Blog</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="content-wrap">
			<div id="content" class="content">