.main-header {
	overflow: hidden;
	position: relative;

	.mobile-nav-checkbox {
		display: none;
	}

	.mobile-nav-label {
		position: absolute;
		top: 22px;
		right: $body-padding;
	}
}

.main-nav {
	@include transition(max-height 0.25s ease-in-out);
	background-color: lighten(#000, 10%);
	@include background-image(linear-gradient(lighten(#000, 10%), lighten(#000, 15%)));
	border-bottom: 0px solid lighten(#000, 10%);
	border-top: 5px solid lighten(#000, 10%);
	max-height: 20rem;

	ul {
		margin: 0;
		padding: 0;
	}
	li {
		font-size: 1.6rem;
	}
	a {
		color: #fff;
		display: block;
		padding: $body-padding;

		&:active {
			background-color: lighten(#000, 20%);
		}
	}
}

.mobile-nav-checkbox:not(:checked) ~ .main-nav {
	max-height: 0;
}

.branding {
	display: inline-block;
	padding: $body-padding;
}