.main-nav {
	background-color: #051723;
	padding: 1em;
	overflow: hidden;

	ul {
		float: left;
		left: 50%;
		margin: 0;
		padding: 0;
		position: relative;
	}
	li {
		float: left;
		left: -50%;
		margin: 0 2em;
		position: relative;
	}
	a {
		color: #fff;
		font-size: 2em;
		text-decoration: none;

		span {
			float: right;
			display: none;
		}
		i {
			float: left;
			font-size: 2em;
		}
	}

	@include breakpoint($bp1) {
		ul {
			float: right;
			left: 0;
		}
		li {
			left: 0;
			margin: 0 0 0 1.5em;
		}
		a {
			font-size: 1.8em;

			span {
				display: inline;
			}
			&:before {
				display: none;
			}

			i {
				font-size: 1em;
				margin-right: 0.5em;
				margin-top: 1px;
			}
		}
	}
}