$body_padding: 2%;

body {
	overflow-y: scroll;
}

header {
	background-color: #f8f8f8;
	border-bottom: 1px solid darken(#f8f8f8, 8%);
	border-top: 5px solid #929da2;
	overflow: hidden;

	.logo {
		padding: $body_padding;
	}
}

.main-nav {
	@include transition(0.25s);
	@include gradient(#929da2, lighten(#929da2, 5%));
	display: block;
	max-height: 0;
	overflow: hidden;
	padding: 0 $body_padding;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
	}

	a {
		display: block;
		padding: $body_padding;

		i {
			float: left;
			padding-right: 0.8em;
		}
	}
}

header input:checked ~ .main-nav {
	max-height: 15em;
	padding: $body_padding;
}

.content-wrap {
	padding: $body_padding;
}