@mixin body-font {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
}
@mixin header-font {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

body {
	color: #929DA2;
	@include body-font;
	@include header-font;
	font-size: 0.625em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@include header-font;
}

h1,
.h1 {
	font-size: 4em;
}

ul.unstyled,
ol.unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 1.4em;
	line-height: 1.5;
}

p {
	font-size: 1.4em;
	line-height: 1.5;
}

.lead {
	font-size: 2.4em;
}

a {
	color: #3a3a3a;
	text-decoration: none;
}