@mixin body-font {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
}
@mixin header-font {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

html {
	font-size: 62.5%;
}
body {
	color: #000;
	@include body-font;
	@include header-font;
	font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@include header-font;
}

h1,
.h1 {
	font-size: 3.2rem;
}
h2,
.h2 {
	font-size: 2.8rem;
}
h3,
.h3 {
	font-size: 2.4rem;
}
h4,
.h4,
.lead {
	font-size: 2.0rem;
}
h5,
.h5,
h6,
.h6 {
	font-size: 1.8rem;
}

.unstyled-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 1.6rem;
	line-height: 1.66;

	> ol,
	> ul {
		margin: 0;
	}
}

p {
	font-size: 1.6rem;
	line-height: 1.66;
}

a {
	color: darken(pink, 20%);
	text-decoration: none;
}

