// Breakpoint
@import "breakpoint";
$bp1: 640px;
$bp2: 800px;
$bp3: 960px;

// Gradients
@import "compass/css3/images";
@import "compass/css3/transition";

// Variables
$function-colour-dark: lighten(#000, 51);
$brand-colour-mid: darken(pink, 20%);
// $brand-colour-mid: #ff8e49;
$body-padding-x: 4%;

// Type
@import "type";

// Layout
@import "layout";

// Header
@import "header";

// Images
@import "images";

// Home
@import "home";