.avatar
  border-radius: 50%
  background-color: #fff
  width: 148px
  height: 148px
  overflow: hidden
  margin: 0 auto

  img
    border-radius: 50%
    width: 140px
    height: 140px
    margin: 4px