.header-wrap
  background: transparent url(/images/header-bg.jpg) no-repeat center center
  min-height: 250px
  position: relative
  width: 100%

  .header-inner
    position: absolute
    top: 50%
    width: 100%
    transform: translateY(-50%)