.image
  margin-bottom: 10px
  display: block
  overflow: hidden
  margin-left: -4.5%
  width: 109%

  img
    display: block
    width: 100%

@media (min-width: $bp)
  .image
    margin-left: 0
    width: auto
    max-width: 100%