.nav-wrap
  width: 100%

  .main-nav
    background-color: #efefef
    padding: 10px 0
    width: 100%

    ul
      text-align: center

      li
        display: inline
        margin: 0 5px
        text-transform: lowercase