.projects
  .project
    margin-bottom: 40px

    .project-image
      .image
        //width: 100%

      &:hover
        & ~ .project-meta .project-read-more i
          margin-left: 6px

    .project-meta
      .project-title
        margin-bottom: 4px

        &:hover
          & ~ p .project-read-more i
            margin-left: 6px

      .project-date
        color: #999

      .project-read-more
        padding-right: 6px

        i
          transition: margin-left 0.2s
          font-size: 14px
          position: relative
          top: 1px

        &:hover
          i
            margin-left: 6px


.project-large
  .project-title
    margin-bottom: 4px

  .project-date
    color: #999


@media (min-width: $bp)
  .projects
    .project
      overflow: hidden

      .project-image
        width: 56%
        float: left

        .image
          margin-left: 0
          width: 100%

      .project-meta
        width: 40%
        float: right
