// Imports
@require "nib"


// Resets
@require "_normalize"
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


// Vars
$bp = 800px


// Partials
@require "_fonts"
@require "_images"
@require "_type"

@require "_avatar"
@require "_branding"
@require "_header"
@require "_nav"
@require "_content"
@require "_projects"