{% extends "layout.html" %}

{% block content %}

  <div class="section-wrap">
    <section>
      <a href="../" class="backey-back"><i class="icon-arrow-left"></i>&nbsp;<span>Work</span></a>

      <h1>Dulux</h1>
      <p>
        -
      </p>
    </section>
  </div>

  <div class="section-wrap">
    <div class="image">
      <img src="./feature.jpg" alt="">
    </div>
  </div>

  <div class="section-wrap alt">
    <section>
      <div class="cols cols-2">
        <div class="col three-quarters">
          <h2>My Role</h2>
          <p>
            -
          </p>
        </div>
        <div class="col one-quarter">
          <h2>Key Skills</h2>
          <ul class="unstyled">
            <li><i class="icon-arrow-right"></i> -</li>
            <li><i class="icon-arrow-right"></i> -</li>
            <li><i class="icon-arrow-right"></i> -</li>
            <li><i class="icon-arrow-right"></i> -</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="section-wrap">
    <section>
      <figure>
        <img src="./colours.jpg" alt="Colours">
      </figure>
    </section>
  </div>

  <div class="section-wrap alt">
    <section class="text-center">
      <a href="http://dulux.co.uk" class="button" target="_blank">
        View Live
      </a>
    </section>
  </div>

{% endblock %}