<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/" />

	<link href="/css/main.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrap">
		<header>
			<input type="checkbox" name="mobile-nav" id="mobile-nav" />
			<nav class="main-nav">
				<ul>
					<li>
						<a href="#">
							<span>About</span>
							<i class="icon-user"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Work</span>
							<i class="icon-suitcase"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Contact</span>
							<i class="icon-envelope"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Blog</span>
							<i class="icon-pencil"></i>
						</a>
					</li>
				</ul>
			</nav>

			<a href="/" class="logo">
				luke<span>.is</span>
			</a>

			<label for="mobile-nav">Menu</label>
		</header>

		<div class="content-wrap">
			<div id="content">
				{{ content }}
			</div>
		</div>

		<footer class="hidden">
			<small>&ldquo;It&rsquo;s not time to worry yet&hellip;&rdquo;</small>
		</footer>
	</div>

	<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>
		window.jQuery || document.write(unescape('%3Cscript src="js/jquery-1.9.1.min.js"%3E%3C/script%3E'));
	</script>
	<script src="./js/main.js"></script>
</body>
</html>