<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/" />

	{% if site.url == 'http://luke.is.dev' %}
	<link href="/css/lib/normalize.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	{% else %}
	<link href="/css/main.min.css" rel="stylesheet">
	{% endif %}
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrap">
		<header class="main-header">
			<a href="/" class="branding h2">
				luke<span>.is</span>
			</a>

			<input type="checkbox" id="mobile-nav" class="mobile-nav-checkbox"/>
			<label for="mobile-nav" class="mobile-nav-label">Menu</label>

			<nav class="main-nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
		</header>

		<div class="content-wrap">
			<div id="content" class="content">
				{{ content }}
			</div>
		</div>

		<footer class="hidden">
		</footer>
	</div>

	{% if site.url == 'http://luke.is.dev' %}
	<script src="./js/main.js"></script>
	{% else %}
	<script src="./js/main.min.js"></script>
	{% endif %}
</body>
</html>
