---
layout: main
title: Projects
crumb: /working
---

<h1>
	Projects
</h1>

<div class="column-wrap">
	<div class="column-one-half">
		{% include projects/prg-thumb.html %}
	</div>
	<div class="column-one-half">
		{% include projects/dulux-thumb.html %}
	</div>
	<div class="column-one-half">
		{% include projects/azure-thumb.html %}
	</div>
	<div class="column-one-half">
		{% include projects/speedo-thumb.html %}
	</div>
	<div class="column-one-half">
		{% include projects/philips-thumb.html %}
	</div>
</div>